* {
	box-sizing: border-box;
    
}

html,
body {
	height: 100%;
}
body {
	display: grid;
	grid-template-rows: 1fr;
	font-family: "Raleway", sans-serif;
  background: url(../img/кофе\ фон.jpg);
  background-size: cover;
  background-attachment: fixed; 
}
/* цвет выделения */
p::selection{
  color: #fff;
  background-color: rgb(49, 25, 25);
}
div::selection{
  color: #fff;
  background-color: rgb(49, 25, 25);
}
h1::selection{
  color: #fff;
  background-color: rgb(49, 25, 25);
}
h2::selection{
  color: #fff;
  background-color: rgb(49, 25, 25);
}
h3::selection{
  color: #fff;
  background-color: rgb(49, 25, 25);
}
h4::selection{
  color: #fff;
  background-color: rgb(49, 25, 25);
}
span::selection{
  color: #fff;
  background-color: rgb(49, 25, 25);
}
img::selection{
  background-color: rgba(49, 25, 25, 0.55);
}
a::selection{
  color: #fff;
  background-color: rgb(49, 25, 25);
}
button::selection{
  color: #fff;
  background-color: rgb(49, 25, 25);
}
br::selection{
  color: #fff;
  background-color: rgb(49, 25, 25);
}
input::selection{
  color: #fff;
  background-color: rgb(49, 25, 25);
}
/* на главную ссылка */
a {
  text-decoration: none;
  display: inline-block;
  width: 120px;
  height: 25px;
  border-radius: 50px;
}
a:hover {
  background-color: rgb(49, 25, 25);
  color: rgb(255, 255, 255);
}
.previous {
  background-color: rgb(255, 255, 255);
  color: rgb(49, 25, 25);
}
/* карточка товара */
.product {
	display: grid;
	grid-template-columns: 0.9fr 1fr;
	margin: auto;
	padding: 2.5em 0;
	min-width: 600px;
	background-color: white;
	border-radius: 5px;
  box-shadow: 4px 4px 25px -2px rgb(0, 0, 0);
}
/* Описание*/
h3 {
  margin-bottom: 1em;
	font-size: 15px;
	letter-spacing: 1.2px;
	color: #a6a6a6;
}
.description {
	clear: left;
	margin: 10px;
}
.description p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* фото продукта */
.product__photo {
	position: relative;
}
.photo-container {
	position: absolute;
	left: -2.5em;
	display: grid;
	grid-template-rows: 1fr;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}
.photo-main {
  align-content: center;
	border-radius: 20px;
	background: radial-gradient(rgb(49, 25, 25), rgb(52, 30, 9));
}
.imgprice{
  position: absolute;
  align-content: center;
	left: -200px;
	top: 120px;
	max-width: 600px;
}
/* информация о продукте */
.product__info {
	padding: 2px;
}
/* название продукта */
.titlee{
  margin-bottom: 0.1em;
	color: #4c4c4c;
	font-size:  40px;
	font-weight: 900; 
}
.titlee:first-letter {
  font-size: 1.2em;
  padding: 5px 10px;
  margin-right: 5px; 
  background: rgb(49, 25, 25);
  color: #FAF4F4;
  float: left;
  border-radius: 50% 0;
  font-weight: bold;
}
/* цена */
.price {
	margin: 1.5em 0;
	color: rgb(49, 25, 25);
	font-size: 30px;
}
.price span{
  font-size: 50px;
  font-weight: 700;
}
/* кнопкка заказать */
.buy--btn {
	padding: 1.5em 3.1em;
	border: none;
	border-radius: 7px;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: rgb(49, 25, 25);
	box-shadow: 2px 2px 25px -7px #4c4c4c;
	cursor: pointer;
}
.buy--btn:hover {
  box-shadow: 0 0 10px 0 rgb(49, 25, 25) inset, 0 0 10px 4px rgb(49, 25, 25);
  color: rgb(49, 25, 25);
  background-color: #fff;
  transition: .3s;
}
/* кнопки +/- */
.glow-button {
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 50px;
  box-shadow: 0 0 40px 40px rgb(49, 25, 25) inset, 0 0 0 0 rgb(49, 25, 25);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
}
.glow-button:hover {
  box-shadow: 0 0 10px 0 rgb(49, 25, 25) inset, 0 0 10px 4px rgb(49, 25, 25);
  color: rgb(49, 25, 25);
}
input {
  margin:10px 0;
  padding:10px;
  font-size: 20px;
  text-align: center;
  border-radius: 50px;
}
.type-1 {
  border-radius:10px;
  border: 1px solid #eee;
  transition: .3s border-color;
}
.type-1:hover {
  border: 1px solid #aaa;
}
/* фото для адаптации */
.imgpricemobile img{
  display: none;
}



/* Адаптация */
@media(max-width: 849px){
  .product {
    display: flex;
    justify-content: center;
    width: 85%;
    min-width:250px;
  }
  .imgpricemobile img{
    display: block;
    width: 100%;
    margin-left: 20px;
  }
  /* Описание*/
  .description {
    text-align: center;
  }
  /* фото продукта */
  .product__photo {
    display: none;
  }
  .photo-container {
    display: none;
  }
  .photo-main {
    display: none;
  }
  /* информация о продукте */
  .product__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* название продукта */
  .titlee{
    font-size:  50px;
  }
  
}

@media(min-width: 850px) and (max-width: 991px){
  /* карточка товара */
  .product {
    grid-template-columns: 1.8fr 2fr;
  }
  /* фото товара */
  .imgprice{
    left: -180px;
    top: 170px;
    max-width: 600px;
  }

}

@media(min-width: 992px) and (max-width: 1199px){
  /* карточка товара */
  .product {
    height: 880px;
  }
  /* фото товара */
  .imgprice{
    left: -180px;
    max-width: 590px;
  }
}